// Reset
@import "./base/reset";

// Base
@import "./glob/global";
@import "./glob/vars";

// Mixins
@import "./mixins/disable-mob-hover";

// Effects

body {
	background-color: #252c4a;
}

.quiz-wrapper {
	margin: 0 auto;

	max-width: 630px;
	width: 100%;
	padding: 10px 15px;
}

.quiz-answers {
	min-height: 200px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.answer-btn {
	margin: 0 auto;
	width: 100%;
	display: block;

	padding: 15px 20px;
	color: #fff;
	border: 2px solid #2a4864;
	border-radius: 15px;
	user-select: none;
	text-align: left;
	transition: border-color 0.3s, background-color 0.2s;

	@include hover {
		border-color: #117eea;
	}

	&.correct {
		background-color: #4bc281;
	}
	&.wrong {
		background-color: rgb(183, 41, 41);
		animation: shake 0.2s;
	}

	span {
		position: absolute;
		background: #fff;
		transform: translate(-50%, -50%);
		pointer-events: none;
		border-radius: 50%;
		animation: animate 1s linear infinite;
	}
}

.quiz-top {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.quiz-count {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 20px;
	text-align: center;
	color: #8d93b7;
}
.question-index {
	display: block;
	position: relative;
	color: #4bc281;
	padding-right: 5px;
	&::after {
		content: "";
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		height: 80%;
		border-right: 1px solid #fff;
	}
}
.question-length {
	display: block;
	margin-top: 1px;
	font-size: 15px;
}
.quiz-text-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	color: #fff;
}
.trans {
	position: relative;
	padding: 0 15px;
	font-style: italic;
	&::after,
	&::before {
		content: "|";
		position: absolute;
	}
	&::after {
		right: 0;
	}
	&::before {
		left: 0;
	}
}

// Animations

@keyframes animate {
	0% {
		width: 0;
		height: 0;
		opacity: 0.5;
	}
	100% {
		width: 500px;
		height: 500px;
		opacity: 0;
	}
}

@keyframes shake {
	0% {
		transform: translateX(10px);
	}
	25% {
		transform: translateX(-8px);
	}
	50% {
		transform: translateX(5px);
	}
	75% {
		transform: translateX(-5px);
	}
	100% {
		transform: translateX(0);
	}
}
